.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid blue;
    padding: 20px;
    background-color: aqua;
    color: blue;
    margin-top: 0px;
}
.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
}




.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    height: 100px;
    
}
#img1{
    height: 100px;
    width: 100px;
}